/* ==========================================================================
   Browser CSS resets and default styles
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */
::selection {
	background-color: colors.$selection-bg;
	text-shadow: none;
	color: colors.$selection-text;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1em;
}

/* Unify box-sizing globally, reset all margins. */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

/* Basic typography and color style. */
html {
	box-sizing: border-box;
	height: 100%;
	/* Prevent font size inflation */
	text-size-adjust: none;
}

/* Make body 100% height and reset spacing. */
body {
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5; // Line height is unitless (http://allthingssmitty.com/2017/01/30/nope-nope-nope-line-height-is-unitless/).
	font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; // Neo-Grotesque font stack taken from https://modernfontstacks.com/
	background-color: colors.$body-bg;
	color: colors.$body-text;
}

/* Hide visually and from screen readers. */
[hidden] {
	display: none !important;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label, legend {
	line-height: 1.2;
}

/*
 * Headings are always just a bit bigger than general text:
 * https://csswizardry.com/2016/02/managing-typography-on-large-apps/
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.25em;
	/* Balance text wrapping on headings */
	text-wrap: balance;
}

/* Reset normalize.css behavior. */
h1 {
	margin-top: 0;
	margin-bottom: 0;
}

/*
 * Links have low affordance.
 * https://www.w3.org/TR/CSS21/ui.html#propdef-cursor
 */
a:hover {
	cursor: pointer;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/* Full-width images & more distinguishable alt text from surrounding text. */
img,
picture {
	max-width: 100%;
	height: auto;
	font-style: italic;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	padding: 0;
	list-style: none;
}


/*
 * Honor the user preferences.
 */
select,
textarea,
input,
button {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

/*
 * Make sure textarea takes on height automatically.
 * Allow only vertical resizing of textareas. (h5bp)
 */
textarea {
	height: auto;
	resize: vertical;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 8em;
}

/* ==========================================================================
   Print styles. (h5bp)
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		/* Always enforce this to ensure better readability, printing and paint savings when printing on paper. */
		background: #fff !important;
		color: #000 !important; /* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	/* Display font-size might bee too big for print. */
	body {
		font-size: 8pt;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
