// Must be 100% for off canvas to work
html, body { height: 100%; }

// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body { font-size: $base-font-size; }

// Default body styles
body {
	background: $body-bg;
	color: $body-font-color;
	padding: 0;
	margin: 0;
	font-family: $body-font-family;
	font-weight: normal;
	font-style: normal;
	line-height: $base-line-height;
	position: relative;
	cursor: auto;
}

a:hover { cursor: pointer; }

// Grid Defaults to get images and embeds to work properly
img { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas,
	.map_canvas {
		img,
		embed,
		object { max-width: none !important;
	}
}

// Get rid of gap under images by making them display: inline-block; by default
img {
	display: inline-block;
	vertical-align: middle;
}

//
// Global resets for forms
//

// Make cursor pointer when hovering over label
label {
	cursor: pointer;
}

// Make sure textarea takes on height automatically
textarea {
	height: auto;
	min-height: 50px;
}

// Make select elements 100% width by default
select { width: 100%; }