<!doctype html>
<html lang="<%= language %>">
	<head>
		<!-- keep this include on top, more in comments inside -->
		{{> ../partials/head-global.html}}

		<title><%= htmlTitle %></title>
		<meta name="description" content="">
	</head>
	<body>
		<!--[if lte IE 9]><% if (language == 'cs') { %>
			<p class="browser-upgrade">Používáte <strong>zastaralý</strong> prohlížeč. Prosím <a href="http://outdatedbrowser.com/cs">aktualizujte jej na novější verzi</a> pro lepší zážitek z&nbsp;procházení a vyšší bezpečnost.</p><% } else { %>
			<p class="browser-upgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><% } %>
		<![endif]-->

		<p>Hello world! This is HTML5 Boilerplate.</p>

		{{> ../partials/scripts.html}}
	</body>
</html>
