// FONT-WEIGHT VARIABLES
$fw-normal: normal;

// BASE
// The default font-size is set to 16px of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
$base-font-size: 16px;
$base-line-height: 1.15;

/* "Helvetica" is proper noun, therefore we write it with capital "H" */
$body-font-family: Helvetica, sans-serif;
