<!doctype html>
<html lang="<%= language %>">
	<head>
		{# these 3 meta tags must come first in the <head> #}
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<link rel="stylesheet" href="/assets/css/main.css">

		<title>{{ title ? title ~ ' | ' }}<%= htmlTitle %></title>
		{% if description is defined %}
			<meta name="description" content="{{ description }}">
		{% endif %}
	</head>
	<body>
		<!--[if IE]><% if (language == 'cs') { %>
			<p class="browser-upgrade">Používáte <strong>zastaralý</strong> prohlížeč. Prosím <a href="http://outdatedbrowser.com/cs">aktualizujte jej na novější verzi</a> pro lepší zážitek z&nbsp;procházení a vyšší bezpečnost.</p><% } else { %>
			<p class="browser-upgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><% } %>
		<![endif]-->

		{% block main %}{% endblock %}

		<script src="/assets/js/main.js" async defer></script>
	</body>
</html>
