<link rel="apple-touch-icon" href="apple-touch-icon.png">

<!-- build:css assets/css/main.css -->
<link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
<link rel="stylesheet" href="assets/css/main.css">
<!-- endbuild -->

<!-- build:css assets/css/ie8.css -->
<!--[if lt IE 9]><link rel="stylesheet" href="assets/css/ie8.css"><![endif]-->
<!-- endbuild -->

<!-- build:js assets/js/modernizr.js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->

<!-- build:js assets/js/ie8-head.js -->
<!--[if lt IE 9]>
<script src="assets/js/selectivizr-1.0.3b.js"></script>
<script src="bower_components/respond/dest/respond.min.js"></script>
<![endif]-->
<!-- endbuild -->