<!doctype html>
<html class="no-js" lang="<%= language %>">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= htmlTitle %></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- process:include includes/header-links.html--><!-- /process -->
	</head>
	<body>
		<!--[if lt IE 9]><% if (language == 'cs') { %>
			<p class="browsehappy">Používáte <strong>zastaralý</strong> prohlížeč. Prosím <a href="http://browsehappy.com/">aktualizujte jej na novější verzi</a> pro lepší zážitek z procházení.</p><% } else { %>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><% } %>
		<![endif]-->

		<p>Hello world! This is HTML5 Boilerplate.</p>

		<!-- process:include includes/scripts.html--><!-- /process -->
	</body>
</html>
