@mixin triangle($oposite-direction, $size, $weight, $color) {
	content: "";
	display: block;
	width: 0;
	height: 0;
	display: inline-block;
	border: $size solid;
	border-#{$oposite-direction}: $weight solid;
	border-color: transparent;
	border-#{$oposite-direction}-color: $color;
}

@mixin placeholder {
	::-webkit-input-placeholder { @content; }
	:-moz-placeholder { @content; }
	::-moz-placeholder { @content; }
	:-ms-input-placeholder { @content; }
}