<!doctype html>
<html lang="<%= lang %>">
	<head>
		{# these 3 meta tags must come first in the <head> #}
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="manifest" href="/site.webmanifest">

		<link rel="stylesheet" href="/assets/css/main.css">

		<script src="/assets/js/main.js" defer></script>

		<title>{{ title ? title ~ ' | ' }}<%= title %></title>
		{% if description is defined %}
			<meta name="description" content="{{ description }}">
		{% endif %}
	</head>
	<body>
		<%
			if (lang == 'cs') {
				var mainId = 'hlavni-obsah';
				var skipToLabel = 'přeskočit na hlavní obsah';
			} else {
				var mainId = 'main-content';
				var skipToLabel = 'skip to main content';
			}
		%>
		<a class="a11y-skip-to" href="#<%= mainId %>"><%= skipToLabel %></a>
		<main id="<%= mainId %>">
			{% block main %}{% endblock %}
		</main>
	</body>
</html>
